[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scipy = "*"
pyx = "*"
pillow = "*"

[dev-packages]
pylint = "*"
bandit = "*"
autopep8 = "*"

[requires]
python_version = "3.9"
